/* Styling untuk body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #342716;
    background-color: #FFF1E4;
}

/* Navbar */
nav {
    background-color: #342716;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Daftar dalam Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #FFF1E4;
    text-decoration: none;
    font-size: 16px; 
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #5D3D1D;
    border-radius: 5px;
}

/* Bagian Hero */
.hero-section {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D3D1D;
    text-align: center;
}

.hero-section h1 {
    font-size: 48px; 
    font-style: italic;
    text-transform: uppercase;
    font-weight:900;
}

.hero-section h1 span {
    font-size: 48px; 
    color: #ff8000;
    font-style: italic;
    text-transform: uppercase;
    font-weight:900;
}


/* Bagian Home dan Tentang Saya */
.home-aboutme-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    box-sizing: border-box;
}

#profile img {
    width: 330px;
    height: 330px;
    border-radius: 70%;
    border: 5px solid  #342716;
    object-fit: cover;
}

.aboutme-section {
    max-width: 750px;
    text-align: left;
    padding: 0 50px;
}

.aboutme-section h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #5D3D1D;
}

.aboutme-section p {
    font-size: 19.2px; 
    font-weight: 400;
    color: #5D3D1D;
    line-height: 1.8;
}

/* Teks Designer */
.designer-text {
    font-size: 42px;
    font-weight: bold;
    color:  #744200; 
}

/* Bagian Pendidikan */
#education {
    background-color: #FFF1E4;
    padding: 20px;
    text-align: center;
}

#education h2 {
    font-size: 32px; 
    color: #5D3D1D;
}

#education p {
    font-size: 19.2px; 
    color: #342716;
}

/* Bagian Experience */
#experience {
    padding: 50px;
    background-color: #CDB693; 
    color: #342716;
}

#experience h2 {
    font-size: 32px; 
    color: #342716;
}

#experience ul {
    list-style-type: none;
    padding: 0;
}

#experience ul li {
    margin-bottom: 20px;
}

/* Bagian Skill */
#skill {
    background-color: #FFF1E4;
    padding: 50px;
}

#skill h2 {
    font-size: 32px; 
    color: #5D3D1D;
    text-align: left;
}

#skill ol {
    font-size: 19.2px; 
    color: #342716;
    padding-left: 20px;
}

/* SNW */
#snw {
    padding: 50px;
    background-color: #CDB693; 
}

#snw h2 {
    font-size: 32px; 
    color: #342716;
    text-align: center;
}

table {
    width: 100%;
    background-color: #FFF1E4;
    text-align: center;
    color: #342716;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #342716;
    padding: 10px;
}

/* Bagian Favorite Song */
.favorite-lagu {
    padding: 50px;
    background-color: #5D3D1D;
    color: #FFF1E4;
    text-align: center;
}

#favorite-lagu h2 {
    color: #342716;
    text-align: center;
}
.lagu-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/* Bagian Contact */
#contact {
    padding: 50px;
    background-color: #CDB693;
    text-align: center;
}

#contact p {
    font-size: 19.2px; 
}

/* Bagian Contact Form */
#contactform {
    margin: auto auto;
    max-width: 600px;
    border-radius: 10px;
}

#contactform h2 {
    text-align: center;
    color: #342716;
    margin-bottom: 20px;
    font-size: 28px;
}

#contactform form {
    display:flex;
    flex-direction: column;
}

/* Input */
#contactform input[type="text"],
#contactform input[type="email"],
#contactform input[type="number"],
#contactform select {
    width: 100%;
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 19,2px;
    box-sizing: border-box;
    outline: none;
}

#contactform label {
    margin-right: 10px;
    font-size: 14px;
}

/* Tombol Submit */
#contactform input[type="submit"] {
    background-color: #5D3D1D;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#contactform input[type="submit"]:hover {
    background-color: #5D3D1D;
}

@media (max-width: 768px) {
    .home-aboutme-section {
        flex-direction: column;
        text-align: center;
    }

    #profile {
        margin-bottom: 40px;
    }

    .aboutme-section {
        max-width: 100%;
        padding: 0 20px;
    }

    .lagu-container {
        width: 80%;
    }
}
